.filter-title {
    font-size: 13px;
    font-weight: bold;
    color: #373536;
}

.download-pdf-button {
    top: 287px;
    left: auto;
    right: auto;
    width: 21px;
    height: 21px;
}

.arrow-two-person-button {
    top: 285px;
    left: 1230px;
    width: 18px;
    height: 18px;
}

.dashboard-toolbar-manual-assignment-buttons {
    width: 32px !important;
    height: 32px !important;
    box-shadow: none !important;
    background-color: white !important;
}

.borders-of-inputs {
    border: 1px solid #828282;
    border-radius: 3px;
}

.search-button-table {
    width: 15px;
    height: 15px;
}