.title {
  font-size: 18px;
  color: #3d3d3d;
}

.sub-title {
  font-size: 13px;
  color: #555555;
  margin-bottom: 16px !important;
}

.icon {
  background-color: #18446b;
  width: 35px;
  height: 35px;
  border-radius: 50px;
}

.dropDrown-rigth {
  top: auto;
  left: auto;
  width: auto;
  height: auto;
}

.dropDrown-left {
  top: auto;
  left: 7px;
  width: auto;
  height: auto;
}
